<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ game.club }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-chip
    color="success"
    style="padding: 20px; padding-top: 40px; padding-bottom: 40px"
  >
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <p>
            {{ game.fun_fact }}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-chip>
  <ion-chip
    color="warning"
    style="padding: 20px; padding-top: 40px; padding-bottom: 40px"
  >
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <p>
            {{ game.recomendation }}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-chip>
</ion-content>
