<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ game.club }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-chip
    color="success"
    style="
      padding: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
      margin-top: 5px;
    "
  >
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <p>
            {{ game.fun_fact }}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-chip>
  <ion-chip
    color="warning"
    style="padding: 20px; padding-top: 40px; padding-bottom: 40px"
  >
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <p>
            {{ game.recomendation }}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-chip>

  <!--Team 1-->
  <ion-list style="margin-top: 10px">
    <ion-item button (click)="goToTeam(1)">
      <ion-label> Team 1 </ion-label>
    </ion-item>
    <ion-item
      button
      style="margin-left: 20px; margin-top: 5px"
      lines="none"
      (click)="goToPlayer(1)"
    >
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/player1.jpeg" />
      </ion-avatar>
      <ion-label> Player 1 </ion-label>
    </ion-item>
    <ion-item
      button
      style="margin-left: 20px; margin-top: 5px"
      lines="none"
      (click)="goToPlayer(2)"
    >
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/player2.jpg" />
      </ion-avatar>
      <ion-label> Player 2 </ion-label>
    </ion-item>
  </ion-list>
  <!--Team 2-->
  <ion-list style="margin-top: 10px">
    <ion-item button (click)="goToTeam(2)">
      <ion-label> Team 2 </ion-label>
    </ion-item>
    <ion-item
      button
      style="margin-left: 20px; margin-top: 5px"
      lines="none"
      (click)="goToPlayer(3)"
    >
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/player3.jpeg" />
      </ion-avatar>
      <ion-label> Player 3 </ion-label>
    </ion-item>
    <ion-item
      button
      style="margin-left: 20px; margin-top: 5px"
      lines="none"
      (click)="goToPlayer(4)"
    >
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/player4.png" />
      </ion-avatar>
      <ion-label> Player 4 </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
