<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ this.statistics.title }} {{ this.number }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="statistics">
    <div *ngFor="let statistic of this.statistics.statistics; index as i">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>{{ statistic.titol }}</h2>
            <app-progress-bar
              *ngIf="statistic.type === 'progressbar'"
              [value]="statistic.stat.value"
              [name]="statistic.stat.name"
              [color]="statistic.stat.color"
            ></app-progress-bar>
            <app-pie-chart
              *ngIf="statistic.type === 'piechart'"
              [name]="'MyChart' + i"
              [stats]="statistic.stat"
              [chartName]="statistic.inside_title"
            ></app-pie-chart>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
