<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ this.statistics.title }} {{ this.number }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="statistics">
    <div *ngFor="let statistic of this.statistics.statistics">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>{{ statistic.inside_title }}</h2>
            <p>{{ statistic.titol }}</p>
            <app-progress-bar
              [value]="statistic.stat.value"
              [name]="statistic.stat.name"
              [color]="statistic.stat.color"
            ></app-progress-bar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
